# common suffixes
*.d
*.o
*.asm
*.swp
*.sym

# userland
_cat
_echo
_forktest
_grep
_init
_kill
_ln
_ls
_mkdir
_rm
_sh
_stressfs
_usertests
_wc
_zombie
_cat1
_tail
_sfw
_test
_filesize
_bigfile

# other
bootblock
entryother
fs.img
initcode
initcode.out
kernel
mkfs
vectors.S
xv6.img
bochsout.txt
